
.header {
  background-image: url(../assets/background.png);
  padding: 0 30px;
}

.navbar-search-container {
  background-color: transparent;
  padding: 100px 20px;
}

.search-bar-container {
  width: 100%;
  margin: 0;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  background-image: url(../assets/background.png);
  padding: 40px 10px;
}

.search-button-wrapper,
.input-wrapper {
  padding: 0 15px;
}


@media screen and (max-width: 1180px) {
  .search-bar-container {
    justify-content: center;
  }

  .search-button-wrapper {
    min-width: 400px;
  }
}


@media screen and (max-width: 1000px) {
  .search-bar-container {
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto; 
  }

  .search-button-wrapper,
  .input-wrapper {
    min-width: 100%;   
    height: 3.5rem !important;
  }

  .flight-search-ad {
    display: none !important;
  }
}


@media screen and (max-width: 767px) {
  .search-bar-container {
    max-width: 100%;
    padding: 20px 10px;
  }

  .search-button-wrapper,
  .input-wrapper {
    min-width: 100% !important;
    padding: 0 10px;
  }

  .navbar-search-container {
    padding: 50px 0;
  }
}





.input-wrapper {
  position: relative;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 6px;
  height: 3rem;
  min-width: 250px;
  padding: 0 15px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  flex: 1;
}

.flight-input-logo{
  width: 2vw;
  color: #000000;
}
.flight-input-logo svg{
  width: 2vw;
}
input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1rem;
  width: 100%;
  margin-left: 7px;
  color: black;
}
input:focus {
  outline: none;
}

.suggestions-list {
  position: absolute;
  top: 120%;
  left: 0;
  right: 0;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 9999;
  max-height: 200px;
  overflow-y: auto;
  width: 400px;
}

.suggestion-item {
  padding: 8px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  display: flex;
  gap: 6px;
  color: black;
}
.suggestion-item:hover {
  background: #f5f5f5;
}

.code {
  display: inline-block;
  border: 1px solid #555;
  border-radius: 4px;
  padding: 2px 6px;
  font-weight: bold;
  font-size: 1rem;
  color: #333;
  background: #f9f9f9;
  margin-right: 8px;
}

.search-button-wrapper {
  background-color: #32bd42;
  border: 2px solid #32bd42;
  border-radius: 6px;
  height: 3rem;
  padding: 0 40px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.search-button {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}
.search-button-wrapper:hover {
  background-color: #32bd42;
  border: 2px solid #000000;
}

.flight-search-ad {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.fa-wrapper {
  height: 50px;
  width: 40px;
}
.flight-search {
  text-align: left;
  color: white;
  max-width: 1200px;
  width: 100%;
}
.flight-search p {
  margin-bottom: 1rem;
  font-weight: 500;
  color:rgb(161, 161, 161);
}
.ad {
  display: flex;
  gap: 10px;
  max-width: 260px;
  text-align: left;
  color: #fff;
  align-items: center;
  align-items: flex-start;
}

.download-container {
  display: flex;
  padding: 30px 20px 0px 20px;
  background: #007bb0;
  text-align: left;
  justify-content: center;
  flex-wrap: wrap;
}

.download-content h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #ffffff;
}

.download-content p {
  font-size: 1rem;
  color: #ffffff;
  max-width: 400px;
  margin: 0 auto 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.grid-container a {
  display: inline-block;
  transition: transform 0.2s ease;
}

.grid-container a:hover {
  transform: scale(1.05);
}

.grid-container img {
  height: 45px;
  width: auto;
  object-fit: contain;
}

.download-image img {
  height: 400px;
  width: auto;
  object-fit: contain;
  padding-top: 20px;
}
.travel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  text-align: center;
  background: #f9f9f9;
}

.travel-container p {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 25px;
}

.travel-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.travel-row div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.travel-row img {
  height: 50px;
  width: auto;
  object-fit: contain;
  opacity: 0.9;
  transition: transform 0.3s ease;
}

@media screen and (max-width: 780px) {
  .travel-row img {
    height: 25px;
    filter: none;
    opacity: 1;
  }
  .travel-row {
    gap: 01rem;
  }
}

.travel-row img:hover {
  filter: grayscale(0%);
  opacity: 1;
  transform: scale(1.2);
}

.load-more-btn{
  border-radius: 8px;
  border:1px solid #e65100;
  background-color:orangered;
  padding: 5px 10px;
  color: white;
  font-weight: 500;
}

.result-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.flight-search-result {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 1200px;
  padding: 10px;
}

.card-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ecdfdf;
  border-radius: 8px;
  padding: 12px 16px;
  background: #fcfcfc;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.05);
}

.result-search-container{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-top: 30px ;
  padding-bottom: 20px;
}

.result-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  width: 100%;
}


.result-card img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.route-info,
.time-info,
.flight-type,
.price-book {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 120px;
}

.route-info,
.time-info,
.flight-type,
.price-book p {
  margin-bottom: 0;
}

.time-info{
  width: 100px;
}

.route {
  font-weight: 600;
  font-size: 16px;
}

.name,
.duration,
.time {
  font-size: 14px;
  color: #555;
}

.flight-type {
  font-size: 14px;
  color: #ff4500;
  font-weight: 500;
}

.price-book {
  align-items: center;
}

.price {
  font-size: 20px;
  font-weight: 700;
  color: #333;
}

.book-btn {
  margin-top: 5px;
  background-color: orangered;
  border-radius: 10px;
  border: none;
  padding: 8px 14px;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.book-btn:hover {
  background-color: #e65100;
}

@media  screen and (max-width:768px) {
  
  .flight-type{
    display: none;
  }
  .book-btn{
    padding: 1px 5px;
  }
  .time-info{
    display: none;
  }
  
}



.dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.dropdown-btn {
  background-color: transparent;
  padding: 6px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.dropdown-container {
  width: 100%;
  border-radius: 12px;
  margin-top: 15px;
  overflow: hidden;
}


.dropdown-content {
  width: 100%;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  overflow: hidden;
}

.dropdown-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 18px;
  border-bottom: 1px solid #cecece;
  background-color: #e8e7e7;
}

.dropdown-content-header .city {
  font-size: 15px;
  font-weight: 700;
  color: #333;
}

.dropdown-content-header .duration {
  font-size: 14px;
  font-weight: 400;
  color: #555;
}

.dropdown-content-body {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
  padding: 16px;
  background-color: #bababa;
  flex-wrap: wrap;
}

.dropdown-content-body p {
  margin: 4px 0;
  font-size: 1em;
  color: #444;
}

.date {
  font-weight: 700;
  color: #222;
  font-size: 1rem;
}

.airline-logo img {
  width: 55px;
  height: auto;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.05);
  padding: 3px;
}

.time-info-eco {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.time {
  font-size: 16px;
  font-weight: 700;
  color: #111;
}

.flight-info {
  display: flex;
  align-items: flex-end;
  font-size: 1em;
  gap: 10px;
  font-weight: 400;
  color: #444;
}


.city {
  font-size: 14px;
  font-weight: 500;
  color: #444;
}

.airport {
  font-size: 12px;
  color: #777;
}

.airline {
  font-size: 13px;
  font-weight: 600;
  color: #222;
}

.flight-complete-info{
  width:60%;
  min-width: 300px;
}

.duration {
  font-weight: 700 ;
}
@media (max-width: 600px) {
  

  .time-info-eco {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .flight-complete-info {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .airport{
    display: none;
  }
  .airline-logo{
    display: none;
  }
  
}

@media screen and (max-width:375px){
  .flight-complete-info{
    display: flex;
    flex-direction: columnn;
    min-width: 200px;
    justify-content: center;
    align-items: center;
    
    
  }

}


.loading-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #444;
}

.destination-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}

.destination {
  width: 100%;
  max-width: 1200px;
  text-align: center;
}

.destination-header h3 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #333;
}

.destination-header p {
  font-size: 16px;
  color: #555;
  margin-bottom: 30px;
}

.destination-grid {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.destination-flex {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.image-container {
  flex: 1 1 30%;
  max-width: 30%;
  min-width: 200px;
  height: 220px;
  position: relative;
  border-radius: 12px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-container:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.2);
}

.image-container > div {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: #fff;
  text-align: left;
}

.image-title {
  font-size: 18px;
  font-weight: 600;
}

.sub-title {
  font-size: 14px;
  opacity: 0.9;
}

@media (max-width: 1024px) {
  .image-container {

    min-width: 80%;
    height: 200px;
  }
}

@media (max-width: 768px) {
  .destination-header h3 {
    font-size: 24px;
  }

  .destination-header p {
    font-size: 14px;
  }

  .image-container {
    flex: 1 1 100%;
    max-width: 100%;
    height: 180px;
  }
}

@media (max-width: 480px) {
  .destination-container {
    padding: 20px 10px;
  }

  .destination-header h3 {
    font-size: 20px;
  }

  .image-container {
    height: 160px;
  }

  .image-title {
    font-size: 16px;
  }

  .sub-title {
    font-size: 12px;
  }
}

.flights-header {
  text-align: center;
  margin-bottom: 2rem;

}

.flights-title {
  font-size: 2rem;
  font-weight: bold;
}




.flights-subtitle {
  color: #555;
  font-size: 1rem;
  margin-top: 0.5rem;
}


